{
    "branch": "main",
    "branches": [ "main" ],
    "plugins": [
        ["@semantic-release/commit-analyzer",
         {
             "releaseRules": [
                 { "type": "major", "release": "major" },
                 { "type": "breaking", "release": "major" },
                 { "type": "minor", "release": "minor" },
                 { "type": "feat", "release": "minor" },
                 { "type": "patch", "release": "patch" },
                 { "type": "fix", "release": "patch" },
                 { "type": "chore", "release": "patch" },
                 { "type": "no-release", "release": false }
             ],
             "parserOpts": {
                 "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
             }
         }
        ],
        "@semantic-release/release-notes-generator",
        ["@semantic-release/changelog",
         {
             "changelogFile": "CHANGELOG.md"
         }
        ],
        ["@semantic-release/exec", {
            "prepareCmd": "mv dist efcasado-splunk-datasource; tar -czvf efcasado-splunk-datasource-${nextRelease.version}.tar.gz efcasado-splunk-datasource"
        }],
        ["@semantic-release/git",
         {
             "assets": ["CHANGELOG.md"]
         }
        ],
        ["@semantic-release/github",
         {
             "assets": ["efcasado-splunk-datasource-*.tar.gz"]
         }
        ]
    ]
}
